a {
    text-decoration: none;
    outline: none;
}

@media (max-width: 649px) {
    .o_col-full {
        max-width: 100% !important;
    }

    .o_col-half {
        max-width: 50% !important;
    }

    .o_hide-lg {
        display: inline-block !important;
        font-size: inherit !important;
        max-height: none !important;
        line-height: inherit !important;
        overflow: visible !important;
        width: auto !important;
        visibility: visible !important;
    }

    .o_hide-xs, .o_hide-xs.o_col_i {
        display: none !important;
        font-size: 0 !important;
        max-height: 0 !important;
        width: 0 !important;
        line-height: 0 !important;
        overflow: hidden !important;
        visibility: hidden !important;
        height: 0 !important;
    }

    .o_xs-center {
        text-align: center !important;
    }

    .o_xs-left {
        text-align: left !important;
    }

    .o_xs-right {
        text-align: left !important;
    }

    table.o_xs-left {
        margin-left: 0 !important;
        margin-right: auto !important;
        float: none !important;
    }

    table.o_xs-right {
        margin-left: auto !important;
        margin-right: 0 !important;
        float: none !important;
    }

    table.o_xs-center {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none !important;
    }

    h1.o_heading {
        font-size: 32px !important;
        line-height: 41px !important;
    }

    h2.o_heading {
        font-size: 26px !important;
        line-height: 37px !important;
    }

    h3.o_heading {
        font-size: 20px !important;
        line-height: 30px !important;
    }

    .o_xs-py-md {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }

    .o_xs-pt-xs {
        padding-top: 8px !important;
    }

    .o_xs-pb-xs {
        padding-bottom: 8px !important;
    }
}

@media screen {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    .o_sans, .o_heading {
        font-family: "Roboto", sans-serif !important;
    }

    .o_heading, strong, b {
        font-weight: 700 !important;
    }

    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
    }
}

#canvas td.o_hide, #canvas td.o_hide div {
    display: block !important;
    font-family: "Roboto", sans-serif;
    font-size: 16px !important;
    color: #000;
    font-size: inherit !important;
    max-height: none !important;
    width: auto !important;
    line-height: inherit !important;
    visibility: visible !important;
}

.CodeMirror {
    line-height: 1.4;
    font-size: 12px;
    font-family: sans-serif;
}
