<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="=x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ghh Empresa</title>
    <meta name="description" content="" />
    <!---Font Icon-->
    <link href="~/css/all.min.css" rel="stylesheet">
    <link href="~/font/flaticon.css" rel="stylesheet">
    <!-- / -->
    <!-- Plugin CSS -->
    <link rel="shortcut icon" type="image/png" href="~/images/favicon-lp.png" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/slick.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/dd.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/menu.css">
    <!-- Theme Style -->
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/style-2.css" rel="stylesheet">
    <link href="~/css/responsive-2.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet" />

</head>
<body>
    <div id="preloader">
        <div id="loading-center">
            <img src="~/images/white.gif" alt="" />
        </div>

    </div>

    <a href="#" id="back-top-btn">
        <i class="fas fa-angle-double-up"></i>
    </a>

    <section id="headder" class="header_area sticky-top">
        <!-- Header nav AREA CSS -->
        <!-- Header top-->

        <div class="container hidden-main">
            <div class="row">
                <div class="col-md-2 logo">
                    <img src="~/images/header-logo-2.png" alt="" class="img-fluid" />
                </div>

                <div class="col-md-10 text-right">
                    <div class="row justify-content-end d-flex">
                        <div class="col-md-9">
                            <div class="header_top custom_nav right_info text-right">

                                @* <ul>
                                    <li class="support"><a href="#">Ayuda</a></li>
                                    <li class="login">
                                       <a href="#">Registro / Acceso</a>
                                           </li>
                                          </li>
                                      </ul>*@
                            </div>

                        </div>

                        <div class="col-md-12" style="padding-top:30px">
                            <nav id="nav-part" class="navbar header-nav other-nav navbar-expand-md">
                                <div class="container">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span></span>
                                        <span></span>
                                        <span></span>

                                    </button>
                                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                                        <ul class="navbar-nav">
                                            <li class="nav-item"><a class="nav-link active" href="~/">Inicio</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#recomended">Hoteles</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#recomended">Activides</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#popular">Blog</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#loginModal">Registro/Acceso</a></li>


                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <nav id='cssmenu' class="hidden mobile">
            <div>
                <a href="index.html">
                    <img src="~/images/header-logo-2.png" class="img-fluid" alt="" />
                </a>
            </div>

            <div id="head-mobile"></div>
            <div class="button tog-nav">
                <i class="more-less fa fa-aling-right"></i>
            </div>

            <ul>
                <li class="nav-item"><a class="nav-link active" href="#banner">Inicio</a></li>
                <li><a href="#top-deal">Hoteles</a></li>
                <li><a href="#recomended">Actividades</a></li>
                <li><a href="#popular">Blog</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>


        </nav>


    </section>
    @RenderBody()


    <footer id="contact" class="contact">
        <div class="container">
            <div class="row contact-part">
                <div class="col-lg-4 col-md-6 col-6">
                    <div class="footer-add">

                        <img src="" alt="" class="img-fluid">
                        <div class="row footer-ad-txt">
                            <div class="col-lg-4 col-md-4 col-5">
                                <h3>Dirección :</h3>
                            </div>
                            <div class="col-lg-8 col-md-8 col-7">
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row footer-ad-txt">
                            <div class="col-4">
                                <h3>Teléfono :</h3>
                            </div>
                            <div class="col-8">
                                <ul>
                                    <li></li>

                                </ul>
                            </div>
                        </div>
                        <div class="row footer-ad-txt">
                            <div class="col-4">
                                <h3>Website	:</h3>
                            </div>
                            <div class="col-8">
                                <ul>
                                    <li></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="con-inner">
                        <h2>Help & Support</h2>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Cookie policy</a></li>
                            <li><a href="~/Post/5">Terms of use</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-4">
                    <div class="con-inner">
                        <h2>Important Search</h2>
                        <ul>
                            <li><a href="#">Countries </a></li>
                            <li><a href="#">Cities</a></li>
                            <li><a href="#">Districts</a></li>
                            <li><a href="#">Airports</a></li>
                            <li><a href="#">Hotels</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-4">
                    <div class="con-inner">
                        <h2>Siguenos en</h2>
                        <ul>
                            <li><a href=""><i class="fab fa-facebook-f"></i>Facebook</a></li>
                            <li><a href=""><i class="fab fa-twitter"></i>Twitter</a></li>
                            <li><a href=""><i class="fab fa-tripadvisor"></i>tripadvisor</a></li>
                            <li><a href=""><i class="fab fa-linkedin"></i>Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer">
                        <p>Copyright © 2020. All rights reserved by Estrada Web Group</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal" tabindex="-1" role="dialog" id="loginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="login-image">
                        <img src="~/images/header-logo-2.png" alt="" class="img-fluid" />
                    </div>

                    <form id="formLogin" action="~/Account/Login" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading color" style="text-align:center">
                                    <h2 style="text-transform: uppercase; font-size: 20px;"> Hola, Bienvenido a la pesca en linea</h2>
                                    <img src="~/images/header-border.png" alt="" class="img-fluid" />
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtEmail" class="text-gris">Correo electronico</label>
                                    <input type="email" class="form-control" id="txtEmail" placeholder="Captura tu correo electronico">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtPassword" class="text-gris">Contraseña</label>
                                    <input type="password" class="form-control" id="txtPassword" placeholder="Captura tu contraseña">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="chkRemember">
                                            <label class="form-check-label text-gris" for="chkRemember">Recordar mi cuenta</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="text-azul">Olvidaste tu contraseña</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12" style="text-align:center">

                                <button type="submit" class="btn btn-primary button-form btnAjaxAdd" data-formulario="#formLogin">Entrar a Ghh</button>
                            </div>

                            <div class="col-lg-12" style="text-align:center; padding: 30px 0 0 0;">
                                <div class="form-group">
                                    <label class="text-azul" style="cursor:pointer;" id="linkRegistrate">Reistrate aquí</label>
                                </div>

                            </div>

                        </div>
                    </form>

                    <form id="formRecupera" action="~/Account/RecuperarPass" method="post" style="display:none">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading color" style="text-align:center">
                                    <h2 style="font-size: 20px;text-transform:uppercase">Recuperar contraseña de La Pesca en Línea</h2>
                                    <img src="/images/header-border.png" alt="shap" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtEmail" class="text-gris">Correo electrónico</label>
                                    <input type="email" class="form-control" id="txtEmail" name="Email" required placeholder="Camptura tu correo electrónico">
                                </div>
                            </div>
                            <div class="col-lg-12" style="text-align:center;">
                                <button type="submit" class="btn btn-primary button-form btnAjaxAdd" data-formulario="#formRecupera">Recuperar contraseña</button>
                            </div>
                            <div class="col-lg-12" style="text-align: center;padding: 30px 0 0 0;">
                                <div class="form-group">
                                    <label class="text-azul" style="cursor:pointer;" id="linkRecuperar">Entrar a la Pesca en Línea</label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form id="formRegister" action="~/Account/Register" method="post" style="display:none;">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading color" style="text-align:center">
                                    <h2 style="font-size: 20px;text-transform:uppercase">Registro a La Pesca en Línea</h2>
                                    <img src="/images/header-border.png" alt="shap" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtName" class="text-gris">Nombre</label>
                                    <input type="text" class="form-control" id="txtName" name="Nombre" required placeholder="Camptura tu nombre">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtEmail" class="text-gris">Correo electrónico</label>
                                    <input type="email" class="form-control" id="txtEmail" name="Email" required placeholder="Camptura tu correo electrónico">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtPassword" class="text-gris">Contraseña</label>
                                    <input type="password" class="form-control" id="txtPassword" name="Password" required placeholder="Captura tu contraseña">
                                </div>
                            </div>
                            <div class="col-lg-12" style="text-align:center;">
                                <button type="submit" class="btn btn-primary button-form btnAjaxAdd" data-formulario="#formRegister">Registrarme en la Pesca en Línea</button>
                            </div>
                            <div class="col-lg-12" style="text-align: center;padding: 30px 0 0 0;">
                                <div class="form-group">
                                    <label class="text-azul" style="cursor:pointer;" id="linkEntrar">Entrar a la Pesca en Línea</label>
                                </div>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>




    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <!-- Plugins -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/menu-opener.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/waypoints.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.dd.min.js"></script>
    <script src="~/js/Carousel.js"></script>
    <script src="~/js/SmoothScroll.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <!-- custom -->

    <script src="~/js/custom.js"></script>
    <script src="~/js/customewg.js"></script>
    <script src="~/js/menu.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


    <script>

        $("#linkRegistrate").click(function () {
            $("#formLogin").hide();
            $("#formRegister").show();

        })
        $("#linkEntrar").click(function () {
            $("#formLogin").show();
            $("#formRegister").hide();
        })
        $("#linkRecuperar").click(function () {
            $("#formRecupera").hide();
            $("#formLogin").show();
        })

        $("#linkVamosRecuperar").click(function () {
            $("#formRecupera").show();
            $("#formLogin").hide();
        })

    </script>
</body>
</html>
