@{
    ViewData["Title"] = "Bienvenidos a GHH";
}
<section class="banner" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 banner-center">
                <div class="banner-text">
                    <h3>Wena </h3>
                    <h2>GHH</h2>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="reservation-form" class="reservation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="reserve">
                    <div class="reservation-tabs">

                        <ul class="nav nav-tabs search-opt">
                            <li><a href="#hotels-tab" class="active" data-toggle="tab">Buscar hotel</a></li>
                        </ul>

                    </div>
                    <div class="tab-content">
                        <form id="hotels-tab" class="tab-pane form-inline reservation-hotel active" method="post" name="reservationform">
                            <div class="row">
                                <div class="col-md-3 step-where">
                                    <div class="form-group">
                                        <div class="content-checkin-data">
                                            <label>
                                                <i class="flaticon-door"></i>
                                                Check in
                                            </label>
                                            <input type="text" id="datepicker" data-provide="datepicker" required class="field-input calendar-input" placeholder="dd/mm/yyyy">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 step-where">
                                    <div class="form-group">
                                        <div class="content-checkin-data">
                                            <label>
                                                <i class="flaticon-door-1"></i>
                                                Check out
                                            </label>
                                            <input type="text" id="datepicker1" data-provide="datepicker" required class="field-input calendar-input" placeholder="dd/mm/yyyy">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2 step-where">
                                    <div class="form-group">
                                        <div class="content-checkin-data">
                                            <label>
                                                <i class="flaticon-tourist"></i>
                                                Adultos
                                            </label>
                                            <input type="number" id="traveller" class="field-input" required value="1" min="1" onfocus="if(this.value  == 'Adultos') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Adultos'; } " />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 step-where">
                                    <div class="form-group">
                                        <div class="content-checkin-data">
                                            <label>
                                                <i class="flaticon-tourist"></i>
                                                Niños
                                            </label>
                                            <input type="number" id="destination" class="field-input" value="Cratia, Chile, Peru" onfocus="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button class="banner-btn">Buscar</button>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <!--********************* Flight reservation ********************-->


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="service" class="service">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="service-inner border-col">
                    <img src="~/images/service-icon-1.png" class="img-fluid" alt="">
                    <div class="ser-text">
                        <h2>Unlimited adventures await</h2>
                        <p>Travels & stay in the best accommodation</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-inner border-col">
                    <img src="~/images/service-icon-2.png" class="img-fluid" alt="">
                    <div class="ser-text">
                        <h2>globally connected</h2>
                        <p>Over 1 million options to choose from</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-inner border-col">
                    <img src="~/images/service-icon-3.png" class="img-fluid" alt="">
                    <div class="ser-text">
                        <h2>Always the Best Pricing</h2>
                        <p>Transparency Guaranteed</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-inner special-ser">
                    <img src="~/images/service-icon-4.png" class="img-fluid" alt="">
                    <div class="ser-text">
                        <h2>Reliable & Convenient Technology</h2>
                        <p>Secured rates on our easy to use platform</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section id="top-deal" class="top-deal section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <div class="heading color">


                    <img src="~/images/header-border.png" alt="shap" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row top-day-slick">


            <div class="col-lg-12 text-left">
                <div class="todays-inner">
                    <div class="today-off">
                        <img class="img-fluid" src="~/images/top-deal-2.jpg" alt="place">
                    </div>
                    <div class="today-txt">
                        <h3>
                            $500
                        </h3>
                        <h5>$500</h5>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section>




<section id="recomended" class="recomended">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <div class="heading color">

                    <img src="~/images/header-border.png" alt="shap" class="img-fluid">
                </div>
            </div>

        </div>
        <div class="row recomended-slick">

            <div class="col-lg-12 text-left">
                <div class="recomand-inner">
                    <img class="img-fluid" src="~/images/recomand-hotel-image-1.jpg" alt="Choose us">
                    <h3>
                        Prueba
                    </h3>

                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <h5>$ 240</h5>
                </div>
            </div>
            }
            }




        </div>

    </div>
</section>


<section id="news" class="newsletter">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-11 news-inner">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="news-text">
                            <h3>Suscribirme al boletín</h3>
                            <p>Suscribete a nuestro boletín, para enviarte las mejores ofertas y mantenerte actualizado.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="subscribe-search">
                            <form id="frmSuscripcionBoletinNews" action="~/Home/Suscribirme" method="post">
                                <div class="input-group">
                                    <input type="email" id="destination13" class="field-input" name="txtEmail" value="Escribe tu correo aqui" onfocus="if(this.value  == 'Escribe tu correo aqui') { this.value = ''; } " onblur="if(this.value == '') { this.value = 'Escribe tu correo aqui'; } " />
                                    <span class="input-group-btn">
                                        <a class="button-form btnAjaxAdd" data-formulario="#frmSuscripcionBoletinNews">Suscribirme</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="artical" class="artical">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <div class="heading color">
                    <h2>Artículos y noticias</h2>
                    <img src="~/images/header-border.png" alt="shap" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row artical-slick">
          
                <div class="col-md-12">
                    <div class="artical-inner">
                        <div class="row">
                            <div class="col-md-6 artical-img">
                                <div class="">
                                    <img src="" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 border-artical">
                                <div class="artical-content">
                                    <h6>fghfghfg</h6>
                                    <h2>hg</h2>
                                    <a href="blog-details.html">Más detalle</a>
                                    <ul>
                                        <li><i class="fa fa-thumbs-up"></i><span>fgfgfg</span></li>
                                        <li><i class="fa fa-comments"></i><span>tgfg</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>



<section class="get-app section">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-12">
                <div class="heading color">
                    <h2>Obtener la aplicación</h2>
                    <p>Descargar ahora</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-12">
                <ul class="get-icon">
                    <li class="apple"><a href="#"><i class="fab fa-apple"></i></a><br><span>iso</span></li>
                    <li class="android"><a href="#"><i class="fab fa-android"></i></a><br><span>Android</span></li>
                </ul>
            </div>

        </div>
    </div>
</section>

